@import url("l-desktop.css");
@import url("desktop.css");
@import url("tablet.css");
@import url("mobile.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-right: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* MAIN */

.main {
    overflow: hidden;
    position: relative;
    /* padding: 2rem; */
    height: 100vh;
    width: 100%;
    background: linear-gradient(178deg, #a3bcb6 70%, #3c403d calc(70% + 2px));
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.logo img {
    height: 3rem;
    width: 3rem;
}

.icons {
    flex-direction: column;
    position: absolute;
    z-index: 99;
    left: 0;
}

.icons img {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.landing-text {
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 75%;
    border-top-left-radius: 50% 75%;
    background-color: white;
    overflow: hidden;
}

.bg {
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-color: #daded4;
}

.text-area {
    border-top-left-radius: 50% 75%;
    justify-content: space-around;
}

.landing-text h1 {
    padding-top: 2.5rem;
    font-weight: 800;
    letter-spacing: 0.2;
    text-transform: uppercase;
    text-shadow: 0.01rem 0.01rem 0 #56564c;
    color: #3c403d;
}

.angle-bracket {
    color: #39603d;
}

.button {
    border-radius: 0.3525rem;
    border: 1px solid #39603d;
    color: white;
    background-color: #39603d;
    cursor: pointer;
    transition: 0.4s all;
}

.button:hover {
    background-color: white;
    border-color: 1px solid #39603d;
    color: #39603d;
}

.landing-image {
    position: relative;
    height: 75%;
    justify-content: center;
    background-color: white;
    border-bottom-right-radius: 50% 75%;
    overflow: hidden;
}

.image-area {
    flex-direction: row;
    border-bottom-right-radius: 50% 75%;
    overflow: hidden;
    padding: 0;
}

.landing-image img {
    height: 100%;
    width: auto;
    align-self: flex-end;
    background-color: #daded4;
}


/* SERVICES SECTION */

.services {
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 2rem;
    height: auto;
    width: 100%;
    background: #a3bcb6;
}

.heading h1 {
    width: auto;
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: 0.15;
    border-bottom: #3c403d 0.25rem solid;
    text-align: center;
}

.service {
    flex-direction: column;
    width: 50%;
}

.services>.wrapper {
    flex-wrap: wrap;
    align-items: flex-start;
    width: 80%;
}

.service-icon img {
    height: 5rem;
    width: 5rem;
}

.service-caption {
    text-align: center;
    flex-direction: column;
}

.service-caption h2 {
    margin-bottom: 0.5rem;
}


/*PROJECTS SECTION */

.projects {
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    height: auto;
    width: 100%;
    background: #daded4;
}

.projects>.wrapper {
    flex-wrap: wrap;
    align-items: flex-start;
    width: 80%;
}

.project {
    position: relative;
    flex-direction: column;
}

.project h2,
.project p {
    text-align: center;
    padding: 1rem;
}

.project-image {
    width: 8rem;
    width: 8rem;
}

.project-image img {
    height: 100%;
    width: 100%;
    border-radius: 10%;
}


/* ASIDE */

.statement {
    flex-direction: column;
}

.statement p {
    text-align: center;
}


/* FORM */

.form-map {
    color: #daded4;
    background-color: #3c403d;
    justify-content: space-around;
    position: relative;
}

footer>.icons {
    flex-direction: row;
    position: absolute;
    z-index: 99;
    left: 50%;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    flex-direction: column;
    width: 100%;
}

.contact h1 {
    width: auto;
    border-bottom: 0.25rem solid #daded4;
    color: #daded4;
    text-transform: capitalize;
}

.form>.wrapper {
    flex-direction: column;
    width: 100%;
}

.form>.wrapper>.wrapper {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

input,
.form p,
textarea {
    width: 100%;
    margin: 0.25rem 0;
}

.form p {
    display: block;
    text-align: left;
}

input:focus:invalid {
    outline: none;
    background-color: #fdd;
}

.error.active {
    padding: 0.3em 0.3em 0.3em 0;
    font-size: 80%;
    color: red;
}

.map {
    width: 40%;
    flex-direction: column;
}

.email {
    color: #daded4;
    background-color: #3c403d;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    padding: 1rem 0;
    width: 100%;
}

.email img {
    display: block;
    height: 100%;
    width: auto;
    padding-right: 0.2rem;
}

.map-icon img {
    border-radius: 50%;
}

.map-caption p {
    text-align: center;
}

footer>.wrapper {
    flex-direction: column;
}

footer p {
    width: 100%;
    text-align: center;
}

footer .icons {
    flex-direction: row;
    position: relative;
    left: auto;
    z-index: auto;
}

footer .icons>a {
    padding: 0 1rem;
}

small {
    text-align: center;
}

.js-scroll {
    transform: translateY(1rem);
    transition: all 0.5s ease-in;
}

.scrolled {
    opacity: 1 !important;
    transform: translateY(0rem);
}